<ul class="level-1">
    <li>
        <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,60,"s_page") }}" class="user-link user-account-link">{{ get_page_title(current_store_id,60,"s_page") }}</a>
    </li>
    <li>
        <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,64,"s_page") }}" class="user-link user-profile-link">{{ get_page_title(current_store_id,64,"s_page") }}</a>
        <ul>
            <li>
                <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,64,"s_page") }}#dash_info">{% trans into current_language %}Update information{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,64,"s_page") }}#address_info">{% trans into current_language %}Update address{% endtrans %}</a>
            </li>
            {% if is_legal_account() == 1 %}
            <li>
                <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,64,"s_page") }}#bank_info">{% trans into current_language %}Update bank information{% endtrans %}</a>
            </li>
            {% endif %}
        </ul>
    </li>
</ul>
<ul class="level-1">
    <li>
        <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,61,"s_page") }}" class="user-link user-orders-link">{{ get_page_title(current_store_id,61,"s_page") }}</a>
    </li>
    <li>
        <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,62,"s_page") }}" class="user-link user-favorites-link">{{ get_page_title(current_store_id,62,"s_page") }}</a>
    </li>
    <li>
        <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,63,"s_page") }}" class="user-link user-notifications-link">{{ get_page_title(current_store_id,63,"s_page") }}</a>
    </li>
    {% if is_legal_account() == 1 %}
    <li>
        <a href="#"
           class="user-link user-appointment-link">{% trans into current_language %}Request a meeting{% endtrans %}</a>
    </li>
    {% endif %}
    <li>
        <a href="#"
           data-action="logout-customer"
           data-url="/logout_customer"
           class="user-link user-logout-link link-logout-customer">{% trans into current_language %}Logout{% endtrans %}</a>
    </li>
</ul>