<div class="hidden payment-form">
    <form name="pay" id="payway{{ data.cart }}" action="{{ data.action }}" method="POST">
        <input type="hidden" name="ShopID" value="{{ data.ShopID }}">
        <input type="hidden" name="ShoppingCartID" value="{{ data.ShoppingCartID }}">
        <input type="hidden" name="TotalAmount" value="{{ data.TotalAmount }}">
        <input type="hidden" name="Signature" value="{{ data.Signature }}">
        <input type="hidden" name="Lang" value="{{ data.Lang }}">
        <input type="hidden" name="CustomerFirstName" value="{{ data.CustomerFirstName }}">
        <input type="hidden" name="CustomerLastName" value="{{ data.CustomerLastName }}">
        <input type="hidden" name="CustomerAddress" value="{{ data.CustomerAddress }}">
        <input type="hidden" name="CustomerCity" value="{{ data.CustomerCity }}">
        <input type="hidden" name="CustomerZIP" value="{{ data.CustomerZIP }}">
        <input type="hidden" name="CustomerCountry" value="{{ get_array_store_attribute(current_store_id,data.CustomerCountry) }}">
        <input type="hidden" name="CustomerPhone" value="{{ data.CustomerPhone }}">
        <input type="hidden" name="CustomerEmail" value="{{ data.CustomerEmail }}">
        <input type="hidden" name="ReturnURL" value="{{ data.site_base_url }}/api/payway_confirm">
        <input type="hidden" name="CancelURL" value="{{ data.site_base_url }}/api/payway_cancel">
        <input type="hidden" name="ReturnErrorURL" value="{{ data.site_base_url }}/api/payway_confirm">
        <input type="submit" value="Buy">
    </form>
</div>
