{% set money_transfer_payment_slip = get_env("MONEY_TRANSFER_PAYMENT_SLIP")|json_decode(constant('JSON_OBJECT_AS_ARRAY')) %}
{% set site_base_data = get_env("SITE_BASE_DATA")|json_decode(constant('JSON_OBJECT_AS_ARRAY')) %}

{% set storeId = get_env("DEFAULT_STORE_ID") %}
{% set websiteId = get_env("DEFAULT_WEBSITE_ID") %}
{% if data.order is defined %}
    {% set storeId = data.order.storeId %}
    {% set websiteId = data.order.getStore.getWebsiteId %}
{% elseif data.quote is defined %}
    {% set storeId = data.quote.storeId %}
    {% set websiteId = data.quote.getStore.getWebsiteId %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ get_env('WEB_PATH') ~ asset('backend/AppBundle/css/pdf.css') }}">
    {% endblock %}
    <meta charset="UTF-8">
</head>
<body style="padding-bottom:15px;">
<div class="footer">
    <div class="divider">
        <hr>
    </div>

    <p>
        <strong>{{ money_transfer_payment_slip[storeId].recipient_name }}</strong><br/>
        {{ money_transfer_payment_slip[storeId].recipient_address_street_and_number }}, {{ money_transfer_payment_slip[storeId].recipient_address_postal_number_and_place }}<br/>
        Email: <a href="mailto:{{ site_base_data[websiteId].site_base_contact }}">{{ site_base_data[websiteId].site_base_contact }}</a><br/>
        IBAN: {{ money_transfer_payment_slip[storeId].recipient_iban_or_account }}<br/>
        OIB: {{ money_transfer_payment_slip[storeId].recipient_oib }}
    </p>
</div>
</body>
</html>
