{% extends 'base.html.twig' %}

{% block title %}{{ generate_admin_title(entity, managed_entity_type|trans) }}{% endblock %}

{% block header %}
    {% block main_actions %}
        {{ include('AppBundle:Includes:admin_buttons.html.twig') }}
    {% endblock %}
    {% block main_title %}
        {{ managed_entity_type|trans }} {% trans %}edit{% endtrans %}
    {% endblock %}
{% endblock %}

{% block body %}
<div id="page-content">
    <div id='wrap'>
        <div class="container">
            <form data-validate="true" method="post" action="{{ path(managed_entity_type ~ '_save') }}" accept-charset="UTF-8"
                  data-callback=''
                  data-type="{{ managed_entity_type }}"
                  class="form-horizontal row-border">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="panel panel-midnightblue">
                            <div class="panel-heading master-panel-heading">
                                <h4>{% trans %}General information{% endtrans %}</h4>
                            </div>
                            <div class="panel-body collapse in">
                                <fieldset class="form-group-wrapper">
                                    <div class="form-group row hidden">
                                        <div class="col-sm-6">
                                            <input type="hidden" name="id" class="form-control" {% if entity is not empty %}value="{{ entity.id }}"{% endif %}/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 control-label">{% trans %}Name{% endtrans %}</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="attributeGroupName" class="form-control" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}" {% if entity is not empty %}value="{{ entity.attributeGroupName }}"{% endif %}/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 control-label">{% trans %}Attribute set{% endtrans %}</label>
                                        <div class="col-sm-6">
                                            <select name="attributeSet" data-action="change_attribute_set" data-url="{{ path('attribute_group_get_entity_attributes') }}" {% if entity.attributeSet is defined %}disabled="disabled"{% endif %} class="form-control">
                                                <option value="">{% trans %}Please select{% endtrans %}</option>
                                                {% for attribute_set in attribute_sets %}
                                                    <option {% if entity.attributeSet is defined and entity.attributeSet.id == attribute_set.id %}selected="selected"{% endif %} value="{{ attribute_set.id }}">{{ attribute_set.attribute_set_code }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {#<div class="form-group row">
                                        <label class="col-sm-3 control-label">{% trans %}Generate block{% endtrans %}</label>
                                        <div class="col-sm-6">
                                            <input type="checkbox" name="generateBlock" data-type="bchackbox" data-off-text="{% trans %}No{% endtrans %}" data-on-text="{% trans %}Yes{% endtrans %}" value="1"/>
                                        </div>
                                    </div>#}
                                    <div class="form-group row">
                                        <label class="col-sm-3 control-label">{% trans %}Is custom{% endtrans %}</label>
                                        <div class="col-sm-6">
                                            <input type="checkbox" checked="checked" name="isCustom" data-type="bchackbox" data-off-text="{% trans %}No{% endtrans %}" data-on-text="{% trans %}Yes{% endtrans %}" value="1"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="panel panel-midnightblue">
                            <div class="panel-heading master-panel-heading">
                                <h4>{% trans %}Available attributes{% endtrans %}</h4>
                            </div>
                            <div class="panel-body collapse in">
                                <fieldset class="form-group-wrapper" data-holder="available_attributes" data-url="{{ path(managed_entity_type ~ '_get_attribute') }}">
                                    {% for attribute in available_attributes %}
                                        {{ include('AppBundle:Admin/AttributeGroup:available_attribute.html.twig') }}
                                    {% endfor %}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="panel panel-midnightblue">
                            <div class="panel-heading master-panel-heading">
                                <h4>{% trans %}Used attributes{% endtrans %}</h4>
                            </div>
                            <div class="panel-body collapse in">
                                <fieldset class="form-group-wrapper">
                                    <div class="sort-wrapper" data-holder="list_attributes">
                                        {% for attribute in attributes %}
                                            {{ include('AppBundle:Admin/AttributeGroup:used_attribute.html.twig') }}
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-2">
                            <div class="btn-toolbar">
                                {{ include('AppBundle:Includes:admin_buttons.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> <!-- container -->
    </div> <!--wrap -->
</div> <!-- page-content -->
{% endblock %}
