
{% for entity in entities %}
    <tr data-id="{{ entity.id }}" class="{{ cycle(['odd', 'even'], loop.index0) }} sp-row-clickable" data-doubleclick-url="{{ path(managed_entity_type ~ '_update_form', {'id': entity.id}) }}">
        <td>{{ entity.id }}</td>
        <td>{{ entity.displayName }}</td>
        <td>{% if entity.page is defined and entity.page is not empty %}{{ entity.page.title }}{% endif %}</td>
        <td>{{ entity.isParent }}</td>
        <td>{% if entity.parent.displayName is defined and entity.parent.displayName is not empty %}{{ entity.parent.displayName }}{% endif %}</td>
        <td>{{ entity.show }}</td>
        <td>{{ entity.isCustom }}</td>
        <td class="sp-actions-td">
            <span class="sp-actions-td-inner">
                {#<a class="btn btn-default btn-xs pull-left sp-datatable-left-button" href="{{ path(managed_entity_type ~ '_view_form', {'id': entity.id}) }}" data-container="body" data-tooltip="true" data-placement="bottom" title="{% trans %}Show{% endtrans %}"><i class="fa fa-eye"></i></a>#}
                <a class="btn dropdown-toggle btn-xs pull-left sp-datatable-right-button btn-default" data-toggle="dropdown" href="javascript:void(0);" data-container="body" data-placement="bottom" data-tooltip="true" role="button" tabindex="0" aria-label="{% trans %}Actions{% endtrans %}" aria-haspopup="true" aria-expanded="false" title="{% trans %}Actions{% endtrans %}" data-original-title="{% trans %}Actions{% endtrans %}"><i class="fa fa-caret-down"></i></a>
                <ul data-menu="dropdown" class="dropdown-menu" role="menu">
                    <li>
                        <span>
                            <a href="{{ path(managed_entity_type ~ '_update_form', {'id': entity.id}) }}" role="button" tabindex="0">{% trans %}Edit{% endtrans %}</a>
                        </span>
                    </li>
                    <li><span><span class="menu-item" data-action="standard_grid_action" data-id="{{ entity.id }}" data-url="{{ path(managed_entity_type ~ '_delete') }}" data-custom-callback="" role="button" tabindex="0">{% trans %}Delete{% endtrans %}</span></span></li>
                </ul>
            </span>
        </td>
    </tr>
{% endfor %}