<td {% if fieldClass is not empty %}class="{{ fieldClass }}"{% endif %}><span {% if width is not empty %}style="width: {{ width }}px;"{% endif %}>
    {% if value != null %}
        <a class="sp-link-field" href='{{ value.url }}'><i {% if value.class  is defined %} class="{{ value.class  }}" {% endif %} aria-hidden="true"></i>{{ value.title }}</a>
    {% endif %}</span>
</td>