{% if field.listMode == "edit" and not attribute.readOnly and field.listViewAttribute.enableInlineEditing == 1 %}
    {% set value = value.raw %}
    <td {% if fieldClass is not empty %}class="{{ fieldClass }}"{% endif %}>
        <input data-type="text"
               {% if width is not empty %}style="width: {{ width }}px;"{% endif %}
                {% if attribute.readOnly %}readonly="readonly"{% endif %} {% if attribute.readOnly %}data-readonly="force"{% endif %}
               class="inline-edit-field form-control"
               data-lpignore="true"
               type="text"
               data-json="true"
               name="{{ attribute.attributeCode }}_json"
                {% if(attribute.validator is not empty) %}
                    {% set validators = attribute.validator | json_decode %}
                    {% for validator in validators %}
                        {{ include('AppBundle:Form/Validators:' ~ validator.type ~ '.html.twig') }}
                    {% endfor %}
                {% endif %}
               value="{{ value|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"/>
    </td>
{% else %}
    {% set value = value.non_editable %}
    <td title="{{ value }}"
        {% if fieldClass is not empty %}class="{{ fieldClass }}"{% endif %}>
        <span {% if width is not empty %}style="width: {{ width }}px;"{% endif %}>{{ value }}</span>
    </td>
{% endif %}