<div class="sp-block sp-line_chart-wrapper {{ data.block.class }}" {% if data.block.dataAttributes is defined and data.block.dataAttributes is not empty %}{{ data.block.dataAttributes|raw }}{% endif %}>
    {# https://developers.google.com/chart/interactive/docs/gallery/geochart #}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="sp-block-inner">
        <div class="panel panel-midnightblue">
            <div class="panel-body collapse in">
                <div class="col-sm-12">
                    <div class="panel-heading main-panel-heading">
                        <h5>{{ data.block.title|trans }}{% if data.tooltip is defined and data.tooltip is not empty %}<span class="fa fa-question-circle sp-question-circle" data-content="{{ data.tooltip|trans }}" rel="popover" data-html="true" data-placement="bottom" data-original-title="" title=""></span>{% endif %}
                            <div class="options">
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ include('AppBundle:Includes:manage_block_buttons.html.twig') }}
                                {% endif %}
                            </div>
                        </h5>
                    </div>
                </div>
                <div class="row sp-margin-bottom-15">
                    <div class="col-sm-12">
                        <div class="sp-choropleth"
                             style="width: 800px; height: 400px;"
                             data-type="choropleth_chart"
                             data-items="{{ data.items }}"
                            data-gmaps-key="{{ data.gmaps_key }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
