{% if product is defined and product is not empty %}
    {% set url = get_entity_store_attribute(current_store_id,product,"url") %}
    {% set site_base_data = get_env("SITE_BASE_DATA")|json_decode %}

    {# GET REAL PRODUCT IF NOT SIMPLE #}
    {% set product = get_real_product(product, get_query_parameters()) %}

    {% set prices = render(controller('ScommerceBusinessBundle:Price:getProductPrices', {'product':product,'options':data}, {}))|json_decode %}

    <div class="prices" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
        {% if prices.price is not empty %}
            {% if prices.discount_price is not empty %}
                <div class="price price-main item">
                    <span class="right price-value">{{ prices.discount_price|number_format(2, ',', '.') }} <span class="currency">{{ prices.currency_code }} {% if product.measure is defined and product.measure is not empty %}/{{ product.measure }}{% endif %}</span></span>
                    <meta itemprop="price" content="{{ prices.discount_price|number_format(2, '.', '') }}"/>
                </div>
                <div class="price price-regular item">
                    <span class="price-value right">{{ prices.price|number_format(2, ',', '.') }} <span class="currency">{{ prices.currency_code }} {% if product.measure is defined and product.measure is not empty %}/{{ product.measure }}{% endif %}</span></span>
                </div>
            {% else %}
                <div class="price price-main item">
                    <span class="right price-value">{{ prices.price|number_format(2, ',', '.') }} <span class="currency">{{ prices.currency_code }} {% if product.measure is defined and product.measure is not empty %}/{{ product.measure }}{% endif %}</span></span>
                    <meta itemprop="price" content="{{ prices.price|number_format(2, '.', '') }}"/>
                </div>
            {% endif %}

            <meta itemprop="priceCurrency" content="{{ prices.currency_short_code }}"/>
            {% if product.getPreparedQty() > 0 and product.active %}
                <meta itemprop="availability" content="https://schema.org/InStock"/>
            {% else %}
                <meta itemprop="availability" content="https://schema.org/OutOfStock"/>
            {% endif %}
            <meta itemprop="priceValidUntil" content="2032-11-05"/>
            <meta itemprop="url" content="{{ current_language_url }}/{{ url }}"/>
        {% endif %}
    </div>
{% endif %}
