<div class="panel panel-midnightblue">
    <div class="panel-heading master-panel-heading">
        <h5>{% trans %}General information{% endtrans %}</h5>
    </div>
    <div class="panel-body collapse in">
        <fieldset class="form-group-wrapper">
            <div class="form-group row hidden">
                    <div class="col-sm-6">
                        <input type="hidden" name="id" class="form-control" {% if entity is not empty %}value="{{ entity.id }}"{% endif %}/>
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" name="parent_id" class="form-control" {% if parent_id is not empty %}value="{{ parent_id }}"{% endif %}/>
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" name="parent_type" class="form-control" {% if parent_type is not empty %}value="{{ parent_type }}"{% endif %}/>
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" name="content" class="form-control" {% if entity is not empty and entity.content is defined %}value="{{ entity.content }}"{% endif %}/>
                    </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label">{% trans %}Title{% endtrans %}</label>
                <div class="col-sm-6">
                    <input type="text" name="title" class="form-control" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}" {% if entity is not empty %}value="{{ entity.title }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label">{% trans %}Type{% endtrans %}</label>
                <div class="col-sm-6">
                    <select name="type" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}" class="form-control" data-action="block_type">
                        <option value="">{% trans %}Please select{% endtrans %}</option>
                        {% for key,block_type in block_types %}
                            <option {% if entity is not empty and entity.type == key %}selected="selected"{% endif %} value="{{ key }}" {% apply spaceless %}
                                {% for data_value_key,data_value in block_type %}
                                    data-{{ data_value_key }}="{{ data_value }}"
                                {% endfor %}
                                    {% endapply %}>{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
</div>
