<div class="panel panel-midnightblue">
    <div class="panel-heading master-panel-heading">
        <h5>{% trans %}General information{% endtrans %}</h5>
    </div>
    <div class="panel-body collapse in">
        <fieldset class="form-group-wrapper">
            <div class="form-group row hidden">
                <div class="col-sm-6">
                    <input type="hidden" name="id" class="form-control" {% if entity is not empty %}value="{{ entity.id }}"{% endif %}/>
                </div>
                <div class="col-sm-6">
                    <input type="hidden" name="content" class="form-control" {% if entity is not empty and entity.content is defined %}value="{{ entity.content }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label">{% trans %}Title{% endtrans %}</label>
                <div class="col-sm-6">
                    <input type="text" name="title" class="form-control"
                           data-fv-notempty="true"
                           data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}"
                           {% if entity is not empty %}value="{{ entity.title }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label">{% trans %}Type{% endtrans %}</label>
                <div class="col-sm-6">
                    <select {% if entity is not empty %}disabled="disabled"{% endif %}
                            name="type" data-fv-notempty="true"
                            data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}"
                            class="form-control">
                        <option selected="selected" value="edit_form">{% trans %}edit_form{% endtrans %}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label">{% trans %}Attribute set{% endtrans %}</label>
                <div class="col-sm-6">
                    <select name="attributeSet" class="form-control"
                            data-fv-notempty="true"
                            data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}">
                        <option value="">{% trans %}Please select{% endtrans %}</option>
                        {% for attribute_set in attribute_sets %}
                            <option {% if entity is not empty and entity.attributeSet is not empty %} {% if entity.attributeSet.id == attribute_set.id %}selected="selected"{% endif %}{% endif %}
                                    value="{{ attribute_set.id }}">{{ attribute_set.attribute_set_code }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label">{% trans %}Class{% endtrans %}</label>
                <div class="col-sm-6">
                    <input type="text" name="class" class="form-control"
                           {% if entity is not empty %}value="{{ entity.class }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label">{% trans %}Data attributes{% endtrans %}</label>
                <div class="col-sm-6">
                    <input type="text" name="dataAttributes" class="form-control"
                           {% if entity is not empty %}value="{{ entity.dataAttributes }}"{% endif %}/>
                </div>
            </div>
        </fieldset>
    </div>
</div>
