<div class="panel panel-midnightblue">
    <div class="panel-heading master-panel-heading">
        <h5>{% trans %}General information{% endtrans %}</h5>
    </div>
    <div class="panel-body collapse in">
        <fieldset class="form-group-wrapper">
            <div class="form-group row hidden">
                <div class="col-sm-6">
                    <input type="hidden" name="id" class="form-control"
                           {% if entity is not empty %}value="{{ entity.id }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">{% trans %}Title{% endtrans %}</label>
                <div class="col-sm-8">
                    <input type="text" name="title" class="form-control" data-fv-notempty="true"
                           data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}"
                           {% if entity is not empty %}value="{{ entity.title }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">{% trans %}Type{% endtrans %}</label>
                <div class="col-sm-8">
                    <select {% if entity is not empty %}disabled="disabled"{% endif %} name="type"
                            data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}"
                            class="form-control">
                        <option value="">{% trans %}Please select{% endtrans %}</option>
                        <option selected="selected" value="list_view">list_view</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">{% trans %}List view{% endtrans %}</label>
                <div class="col-sm-8">
                    <select data-type="base_lookup" name="relatedId" class="form-control" data-fv-notempty="true"
                            data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}">
                        <option value="">{% trans %}Please select{% endtrans %}</option>
                        {% for list_view in list_views %}
                            <option {% if entity is not empty and entity.relatedId == list_view.id %}selected="selected"{% endif %}
                                    value="{{ list_view.id }}">{{ list_view.attributeSet.attributeSetName }}
                                - {{ list_view.displayName }} - {{ list_view.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">{% trans %}Class{% endtrans %}</label>
                <div class="col-sm-8">
                    <input type="text" name="class" class="form-control"
                           {% if entity is not empty %}value="{{ entity.class }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">{% trans %}Data attributes{% endtrans %}</label>
                <div class="col-sm-8">
                    <input type="text" name="dataAttributes" class="form-control"
                           {% if entity is not empty %}value="{{ entity.dataAttributes }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">{% trans %}Allow view select{% endtrans %}</label>
                <div class="col-sm-8">
                    <input type="checkbox" name="allowViewSelect" id="allowViewSelect" data-type="bchackbox"
                           {% if allowViewSelect %}checked="checked"{% endif %}/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">{% trans %}Tooltip{% endtrans %}</label>
                <div class="col-sm-8">
                        <textarea data-size="autosize" rows="4"
                                  placeholder="{% trans %}Please fill in tooltip{% endtrans %}"
                                  class="form-control form-control-textarea" name="tooltip">{% if tooltip is defined %}{{ tooltip }}{% endif %}</textarea>

                </div>
            </div>
        </fieldset>
    </div>
</div>
