<form id="page-builder" action="/api/page_builder_save_block" class="ajax-submit" {% if block is defined %}data-replace=[data-block-id="{{ block.getId }}"]{% endif %} data-set-html="1" data-trigger-action="reset-page-builder" novalidate>
    <div class="builder-title">
        {% trans into current_language %}Products{% endtrans %}

        {% if block is defined %}
            <a href="{{ get_env("SSL") }}://{{ get_env("BACKEND_URL") }}/page/s_front_block/form/{{ block.getId }}" target="_blank" title="{% trans into current_language %}Edit in admin{% endtrans %}">{% trans into current_language %}Edit in admin{% endtrans %}</a>
        {% endif %}
    </div>

    {% set settings = page_builder_get_block_settings(block|default(null)) %}

    {% if block is defined %}
        <input type="hidden" name="id" value="{{ block.getId }}"/>
    {% endif %}
    <input type="hidden" name="type" value="filtered_products"/>
    <input type="hidden" name="before_block" value=""/>
    <input type="hidden" name="to_container" value=""/>
    <input type="hidden" name="enable_edit" value="1"/>


    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label>
                <span class="label-text">{% trans into current_language %}Administrative label{% endtrans %}</span>
                <input type="text" name="name" {% if block is defined %}value="{{ get_entity_store_attribute(current_store_id,block,"name") }}"{% endif %}/>
            </label>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label>
                <span class="label-text">{% trans into current_language %}Title{% endtrans %}</span>
                <input type="text" name="main_title[{{ current_store_id }}]" {% if block is defined %}value="{{ get_entity_store_attribute(current_store_id,block,"main_title") }}"{% endif %}/>
            </label>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label class="label-checkbox">
                <input type="checkbox" name="active" {% if block is not defined or block.getActive %}checked="checked"{% endif %}/>
                <span class="label-text">{% trans into current_language %}Active{% endtrans %}</span>
            </label>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-6">
            <label>
                <span class="label-text">{% trans into current_language %}Active from{% endtrans %}</span>
                <input type="text"
                       {% if block is defined and block.getActiveFrom is not empty %}value="{{ block.getActiveFrom|date('d.m.Y H:i') }}"{% endif %}
                       name="active_from"
                       autocomplete="off"
                       class="datetimepicker">
            </label>
        </div>
        <div class="form-group col-xs-6">
            <label>
                <span class="label-text">{% trans into current_language %}Active to{% endtrans %}</span>
                <input type="text"
                       {% if block is defined and block.getActiveTo is not empty %}value="{{ block.getActiveTo|date('d.m.Y H:i') }}"{% endif %}
                       name="active_to"
                       autocomplete="off"
                       class="datetimepicker">
            </label>
        </div>
    </div>

    {% set entities = get_entities_by_type("campaign") %}
    {% if entities is not empty %}
        <div class="form-row row full-width">
            <div class="form-group col-xs-12">
                <label>
                    <span class="label-text">{% trans into current_language %}Active during campaign{% endtrans %}</span>
                    <select name="campaign_active_id">
                        <option value="">{% trans into current_language %}Select option{% endtrans %}</option>
                        {% for campaign in entities %}
                            <option value="{{ campaign.getId }}" {% if block is defined and block.getCampaignActiveId == campaign.getId %}selected{% endif %}>{{ get_entity_store_attribute(current_store_id,campaign,"name") }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>

        <div class="form-row row full-width">
            <div class="form-group col-xs-12">
                <label>
                    <span class="label-text">{% trans into current_language %}Active once campaign ends{% endtrans %}</span>
                    <select name="campaign_not_active_id">
                        <option value="">{% trans into current_language %}Select option{% endtrans %}</option>
                        {% for campaign in entities %}
                            <option value="{{ campaign.getId }}" {% if block is defined and block.getCampaignNotActiveId == campaign.getId %}selected{% endif %}>{{ get_entity_store_attribute(current_store_id,campaign,"name") }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    {% endif %}

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label>
                <span class="label-text">{% trans into current_language %}Default sort{% endtrans %}</span>
                {% set entities = get_entities_by_type("sort_option") %}
                <select name="default_sort_id">
                    <option value="">{% trans into current_language %}Select option{% endtrans %}</option>
                    {% for sortOption in entities %}
                        <option value="{{ sortOption.getId }}" {% if block is defined and block.getDefaultSort is defined and block.getDefaultSort is not empty and block.getDefaultSort.getId == sortOption.getId %}selected{% endif %}>{{ get_entity_store_attribute(current_store_id,sortOption,"name") }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label class="label-checkbox">
                <input type="checkbox" name="page_builder_settings[in_container]" {% if settings.in_container|default(0) == 1 %}checked="checked"{% endif %}/>
                <span class="label-text">{% trans into current_language %}In container{% endtrans %}</span>
            </label>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label>
                <span class="label-text">{% trans into current_language %}Product codes{% endtrans %}</span>
                <textarea name="product_codes">{% if block is defined %}{{ get_entity_store_attribute(current_store_id,block,"product_codes") }}{% endif %}</textarea>
                <div class=form-note>{% trans into current_language %}Separated by comma{% endtrans %}</div>
            </label>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label><span class="label-text">{% trans into current_language %}Rules{% endtrans %}</span></label>

            <fieldset>
                <div class="form-row row full-width">
                    <div class="form-group col-xs-12">
                        {% if block is defined %}
                            <a href="{{ get_env("SSL") }}://{{ get_env("BACKEND_URL") }}/page/s_front_block/form/{{ block.getId }}" target="_blank" title="{% trans into current_language %}Edit rules in admin{% endtrans %}">{% trans into current_language %}Edit in admin{% endtrans %}</a>
                        {% endif %}
                        {#                        <label> #}
                        {#                            <span class="label-text">{% trans into current_language %}Add new attribute rule{% endtrans %}</span> #}
                        {#                            <select class="form-control" #}
                        {#                                    name="attribute_id"> #}
                        {#                                <option value="">{% trans %}Select attribute{% endtrans %}</option> #}
                        {#                                {% set filtered_attributes = product_rules_get_filtered_attributed() %} #}
                        {#                                {% for a in filtered_attributes %} #}
                        {#                                    <option value="{{ a.id }}">{{ a.name|trans }}</option> #}
                        {#                                {% endfor %} #}
                        {#                            </select> #}
                        {#                        </label> #}
                    </div>
                    {#                    <div class="form-group col-xs-4 text-right"> #}
                    {#                        <label><span class="label-text">&nbsp;</span></label> #}
                    {#                        <button type="button" #}
                    {#                                class="button" #}
                    {#                                data-url="{{ path('product_attribute_filter_form_field') }}" #}
                    {#                                data-add="add_product_attribute_filter" #}
                    {#                                data-new-id="0"><i #}
                    {#                                    class="glyphicon glyphicon-plus"></i> {% trans %}Add{% endtrans %} #}
                    {#                        </button> #}
                    {#                    </div> #}
                </div>
                {#                <div class="form-row row full-width"> #}
                {#                    <div class="form-group col-xs-12 filtered-attributes-rendered"> #}
                {#                        {% if block is defined %} #}
                {#                            {% set filtered_attributes = product_rules_get_rendered_existing_attribute_fields(block.getRules) %} #}
                {#                            {% if filtered_attributes is not empty %} #}
                {#                                {% for f in filtered_attributes %} #}
                {#                                    {{ f|raw }} #}
                {#                                {% endfor %} #}
                {#                            {% endif %} #}
                {#                        {% endif %} #}
                {#                    </div> #}
                {#                </div> #}
            </fieldset>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label>
                <span class="label-text">{% trans into current_language %}Product limit{% endtrans %}</span>
                <input type="number" name="product_limit" value="{% if block is defined %}{{ block.getProductLimit }}{% else %}4{% endif %}"/>
            </label>
        </div>
    </div>

    <div class="form-row row full-width">
        <div class="form-group col-xs-12">
            <label>
                <span class="label-text">{% trans into current_language %}List type{% endtrans %}</span>
                <select name="page_builder_settings[list_type]">
                    <option value="1" {% if settings.list_type is not defined or (settings.list_type is defined and settings.list_type == 1) %}selected{% endif %}>{% trans into current_language %}Grid view{% endtrans %}</option>
                    <option value="2" {% if settings.list_type is defined and settings.list_type == 2 %}selected{% endif %}>{% trans into current_language %}List view{% endtrans %}</option>
                </select>
            </label>
        </div>
    </div>

    <div class="form-group submit">
        <button class="button">{% trans into current_language %}Save{% endtrans %}</button>
        {% if block is defined %}
            <button class="button btn-type-2 page-builder-remove-block" data-block-id="{{ block.getId }}">{% trans into current_language %}Remove{% endtrans %}</button>
        {% endif %}
        <span class="expanded"></span>
        <button class="button page-builder-cancel">{% trans into current_language %}Cancel{% endtrans %}</button>
    </div>
</form>