<div class="sp-block-outer sp-block-outer-{{ data.block.type }} section dashboard-element dashboard-favorites {{ data.block.class }}" {{ data.block.dataAttributes }}>
    <div class="row">
        <div class="col-xs-6">
            <h2>{% trans into current_language %}My favorites{% endtrans %}</h2>
        </div>
        {% if data.model.products is defined and data.model.products is not empty and data.model.products.entities is defined and data.model.products.entities is not empty and data.model.go_to_all %}
            <div class="col-xs-6 text-right">
                <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,62,"s_page") }}" class="show-all">{% trans into current_language %}Show all{% endtrans %}</a>
            </div>
        {% endif %}
    </div>
    {% if data.model.products is defined and data.model.products is not empty and data.model.products.entities is defined and data.model.products.entities is not empty %}
        <div class="row">
            <div class="items-grid grid-view price-to-top col-xs-12">
                {% apply spaceless %}
                    {% for product in data.model.products.entities %}
                        {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Product:product_list_item.html.twig', 'data': {'product': product}}, {})) }}
                    {% endfor %}
                {% endapply %}
            </div>
        </div>
    {% else %}
        <p>{% trans into current_language %}Your favorites are empty{% endtrans %}.</p>
    {% endif %}
</div>
