<div class="{% if get_is_admin(app.user) %}is-admin{% endif %} sp-block-outer sp-block-outer-{{ data.block.type }} {{ data.block.class }} {% if not data.block.getActiveIncludingDates %}inactive{% endif %}" {{ data.block.dataAttributes }}>
    {% if get_is_admin(app.user) %}
        <div class="panel-heading sp-frontend-edit-block-wrapper">
            <div class="options">
                <a href="{{ get_env("SSL") }}://{{ get_env("BACKEND_URL") }}{{ get_env("FRONTEND_URL_PORT") }}/page/s_front_block/form/{{ data.block.id }}" target="_blank">
                    {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Utilities/Icons:edit.html.twig', 'data': {}}, {})) }}
                </a>
            </div>
        </div>
    {% endif %}

    {% if data.model.subtitle is not empty %}
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">{{ data.model.subtitle }}</div>
            </div>
        </div>
    {% endif %}

    {% if data.block.editor is defined and data.block.editor is not empty %}
        <div class="row">
            {{ get_entity_store_attribute(current_store_id,data.block,"editor")|raw }}
        </div>
    {% endif %}
</div>
