<div class="sp-block-outer sp-block-outer-{{ data.block.type }} category-products product-list {{ data.block.class }}" {{ data.block.dataAttributes }}>
    <div class="content">
        {% if data.model.entities is defined and data.model.entities is not empty %}
            <div class="section items-options">{% if data.model.sort_html is defined and data.model.sort_html is not empty %}{{ data.model.sort_html|raw }}{% endif %}</div>
            {% if get_env("SHOW_ACTIVE_FILTERS") == 1 %}<div class="section active-filters-wrapper">{% if data.model.active_filters is defined and data.model.active_filters is not empty %}{{ data.model.active_filters|raw }}{% endif %}</div>{% endif %}
            <div class="section items-grid no-padding grid-view">{% if data.model.grid_html is defined and data.model.grid_html is not empty %}{{ data.model.grid_html|raw }}{% endif %}</div>
            <div class="section items-pager no-padding text-center">{% if data.model.pager_html is defined and data.model.pager_html is not empty %}{{ data.model.pager_html|raw }}{% endif %}</div>
        {% else %}
            {# No results HTML #}
            {% if data.model.grid_html is defined and data.model.grid_html is not empty %}{{ data.model.grid_html|raw }}{% endif %}
        {% endif %}
    </div>
</div>
