{% if data.model.products is defined and data.model.products is not empty and data.model.products.entities is defined and data.model.products.entities is not empty %}
    <div class="sp-block-outer sp-block-outer-{{ data.block.type }} section {{ data.block.class }}" {{ data.block.dataAttributes }}>
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">{{ data.model.subtitle|raw }}</div>
            </div>
        </div>
        <div class="row">
            {% apply spaceless %}
                <div class="col-xs-12 items-grid grid-view">
                    {% for product in data.model.products.entities %}
                        {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Product:product_list_item.html.twig', 'data': {'product': product}}, {})) }}
                    {% endfor %}
                </div>
            {% endapply %}
        </div>
        {% if data.model.show_more is defined and data.model.show_more is not empty %}
            <div class="row">
                <div class="col-xs-12 text-center">
                    {% if data.model.show_more.url == '/' %}
                        {% set url = '' %}
                    {% else %}
                        {% set url = data.model.show_more.url %}
                    {% endif %}
                    <a href="/{{ url }}" class="button gray">{{ data.model.show_more.title }}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
