{% extends 'AppBundle:Email:base.html.twig' %}

{% block body %}
    <table width="100%" border="0" cellpadding="0"
           cellspacing="0">
        <tbody>
        <tr>
            <td class="mpad_lr" style="padding:0px 40px 30px 40px;">
                <h2>{{ data.firstname }}, we thank you for your question.</h2>
            </td>
        </tr>
        <tr>
            <td class="mpad_lr" style="padding:0px 40px 30px 40px;">
                <h2>Your message</h2>
                <p>Name: {{ data.firstname }} {{ data.lastname }}</p>
                <p>email: {{ data.email }}</p>
                <p>Message type: {{ data.type }}</p>
                <p>Message: {{ data.comment }}</p>
            </td>
        </tr>
        <tr>
            <td class="mpad_lr" style="padding:0px 40px 30px 40px;">
                <p><strong>We will respond as fast as possible.</strong></p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}