{% extends 'AppBundle:Email:base.html.twig' %}

{% block body %}
    <table width="100%" border="0" cellpadding="0"
           cellspacing="0">
        <tbody>
        <tr>
            <td class="mpad_lr" style="padding:0px 40px 30px 40px;">
                <h2>{{ data.user.username }}, we have received your request to reset the password</h2>
            </td>
        </tr>
        <tr>
            <td class="mpad_lr" style="padding:0px 40px 30px 40px;">
                <p>To reset your password please click <a href="{{ data.confirmationUrl }}" target="_blank">here</a>, or copy this url <span style="color:#e51c24;">{{ data.confirmationUrl }}</span> to your browser.</p>
            </td>
        </tr>
        <tr>
            <td class="mpad_lr" style="padding:0px 40px 30px 40px;">
                <h2>You didn't make this request?</h2>
                <p>If you didn't make this request please disregard this email. If this happens again please contact us on <a href="mailto:{{ get_env("GENERAL_CONTACT_EMAIL_RECIPIENT") }}">{{ get_env("GENERAL_CONTACT_EMAIL_RECIPIENT") }}</a>.</p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}