<form id="login"
      action="/reset_password_request"
      class="ajax-submit"
      data-trigger-action="{{ triggerAction }}">

    <input type="hidden" name="recaptcha_response" class="recaptchaResponse">

    <div class="form-section account">
        <div class="row form-row">
            <div class="form-group username col-xs-12">
                <label for="username">{% trans into current_language %}Username or email address{% endtrans %}*</label>
                <input type="text" name="email" required class="full-width">
            </div>
        </div>
    </div>

    <div class="form-group submit">
        <input type="submit" value="{% trans into current_language %}Send request{% endtrans %}" class="button btn-type-1">
    </div>

    <div class="form-group submit">
        <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,58,"s_page") }}" class="forgot-password">{% trans into current_language %}Back{% endtrans %}</a> | <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,52,"s_page") }}" class="forgot-password">{% trans into current_language %}Create account{% endtrans %}</a>
    </div>
</form>