{% extends 'base.html.twig' %}

{% block title %}{{ generate_admin_title(entity, managed_entity_type|trans) }}{% endblock %}

{% block header %}
    {% block main_actions %}
        {{ include('AppBundle:Includes:admin_buttons.html.twig') }}
    {% endblock %}
    {% block main_title %}
        {{ managed_entity_type|trans }} {% trans %}edit{% endtrans %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div id="page-content">
        <div id='wrap'>
            <div class="container">
                <form data-validate="true" method="post" action="{{ path(managed_entity_type ~ '_save') }}"
                      accept-charset="UTF-8"
                      data-callback=''
                      data-type="{{ managed_entity_type }}"
                      class="form-horizontal row-border">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="panel panel-midnightblue">
                                <div class="panel-heading master-panel-heading">
                                    <h4>{% if entity is not empty %}{% trans %}Update{% endtrans %} {{ managed_entity_type|trans }}{% else %}{% trans %}Create{% endtrans %} {{ managed_entity_type|trans }}{% endif %}</h4>
                                    {% if entity.id is defined and entity is not empty %}
                                        <div class="options">
                                            <a href="{{ path(managed_entity_type ~ '_view_form', {'id': entity.id}) }}"><i
                                                        class="fa fa-eye"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="panel-body collapse in">
                                    <fieldset class="form-group-wrapper">
                                        <div class="form-group row hidden">
                                            <div class="col-sm-6">
                                                <input type="hidden" name="id" class="form-control"
                                                       {% if entity is not empty %}value="{{ entity.id }}"{% endif %}/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 control-label">{% trans %}Code{% endtrans %}</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="attributeCode" class="form-control"
                                                       data-fv-notempty="true"
                                                       data-fv-notempty-message="{% trans %}Please fill in{% endtrans %}"
                                                       {% if entity is not empty %}value="{{ entity.roleCode }}"{% endif %}/>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-midnightblue">
                        <div class="panel-body collapse in">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">{% trans %}Toggle all{% endtrans %}</label>
                                <div class="col-sm-2">
                                    <label>
                                    <input data-off-text="{% trans %}No{% endtrans %}"
                                           data-on-text="{% trans %}Yes{% endtrans %}"
                                           type="checkbox"
                                           data-action="togglePrivilegesAll"
                                           name="toggleAll"
                                           data-type="bchackbox" {% apply spaceless %}
                                        value="1"
                                    {% endapply %}/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        {% for key,privileges in privileges_list %}
                            <li {% if key == "attribute_set" %}class="active"{% endif %}><a data-toggle="tab" href="#w{{ key }}">{{ privileges.name|trans }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for key,privileges in privileges_list %}
                            <div id="w{{ key }}" class="tab-pane fade in {% if key == "attribute_set" %}active{% endif %}">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="panel panel-midnightblue">
                                            <div class="panel-heading master-panel-heading">
                                                <h4>{{ privileges.name|trans }}</h4>
                                            </div>
                                            <div class="panel-body collapse in">
                                                <fieldset class="form-group-wrapper">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 control-label"></label>
                                                        {% for privilege_type in privileges.privileges|first %}
                                                            <div class="col-sm-2">{{ action_types[privilege_type.action_type] }}</div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group row">
                                                             <label class="col-sm-3 control-label">{% trans %}Toggle column{% endtrans %}</label>
                                                            {% for privilege_type in privileges.privileges|first %}
                                                                <div class="col-sm-2">
                                                                    <label>
                                                                    <input data-off-text="{% trans %}No{% endtrans %}"
                                                                           data-on-text="{% trans %}Yes{% endtrans %}"
                                                                           type="checkbox"
                                                                           data-action="togglePrivilegesColumn"
                                                                           data-holder-type="{{ privilege_type.action_type }}"
                                                                           name="toggleAll{{ privilege_type.action_type }}"
                                                                           data-type="bchackbox" {% apply spaceless %}
                                                                        value="1"
                                                                    {% endapply %}/></label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% for name,privilege_group in privileges.privileges %}
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 control-label">{{ name|trans }}</label>
                                                            {% for action in privilege_group %}
                                                                <div class="col-sm-2">
                                                                    <label>
                                                                        <input data-off-text="{% trans %}No{% endtrans %}"
                                                                               data-on-text="{% trans %}Yes{% endtrans %}"
                                                                               type="checkbox"
                                                                               name="privilege[{{ action.action_code }}][{{ action.action_type }}]"
                                                                               data-type="bchackbox" {% apply spaceless %}
                                                                            {% if entity_privileges[action.action_code][action.action_type] is defined %}checked="checked"{% endif %}
                                                                            value="1"
                                                                                {% endapply %}/></label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-2">
                                <div class="btn-toolbar">
                                    {{ include('AppBundle:Includes:admin_buttons.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->
{% endblock %}
