{% extends 'base.html.twig' %}

{% block body_class %}sp-no-padding{% endblock %}

{% block body %}
    <div id="wrap">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 hidden-xs min-100vh login-bg"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 min-100vh login-main">
                <div class="focusedform">
                    <div class="verticalcenter sp-verticalcenter">
                        {% set logo ="/backend/AppBundle/logo.png" %}
                        {% if file_exists("logo.png") %}
                            {% set logo ="/logo.png" %}
                        {% endif %}
                        <img src="{{ logo }}" alt="Logo" class="brand">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <form data-action="login-form" action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
                                    <fieldset class="form-group-wrapper">
                                        <div class="form-group row hidden">
                                            <div class="col-sm-8">
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"
                                                       placeholder="{% trans %}Your username{% endtrans %}"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{% trans %}Your password{% endtrans %}"/>
                                            </div>
                                        </div>
                                        {# <div class="clearfix">
                                    <div class="pull-right"><label><input type="checkbox" id="remember_me" name="_remember_me" checked="checked" /> {% trans %}Remember Me{% endtrans %}</label></div>
                                </div> #}
                                        <button class="sp-btn btn btn-primary btn-green btn-block" type="submit" id="_submit" name="_submit"
                                                data-action="login-submit">{% trans %}Log In{% endtrans %}</button>
                                        {% if error %}
                                            <div class="sp-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                                    </fieldset>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-link" style="padding-left:0">{% trans %}Forgot your username or password?{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
