<div class="grid-stack-item" data-block-id="{{ data.block.id }}"
     data-gs-title="{% if data.block.name is defined %}{{ data.block.name }}{% endif %}"
     data-gs-x="{% if data.x is defined %}{{ data.x }}{% endif %}"
     data-gs-y="{% if data.y is defined %}{{ data.y }}{% endif %}" data-gs-id="{{ data.block.id }}"
     data-gs-type="{{ data.block.type }}" data-gs-min-width="2" data-gs-min-height="2"
     data-gs-width="{% if data.width is defined %}{{ data.width }}{% endif %}"
     data-gs-height="{% if data.height is defined %}{{ data.height }}{% endif %}">
    <div class="grid-stack-item-content sp-border_{{ data.block.type }}">
        <div class="sp-main-actions-wrapper">
            <div class="container">
                {% if data.block.name is defined %}<h4>{{ data.block.name }} - {{ data.block.type }}</h4>{% endif %}
                <div class="options">
                    <span class="sp-options-text sp-options-text-attribute-group sp-admin-button"
                          data-action="move-block">
                        <i class="sp-icon sp-icon-move sp-hover"></i>
                    </span>
                    <span class="sp-options-text sp-options-text-attribute-group sp-admin-button"
                          data-action="add-edit-front-block" data-id="{{ data.block.id }}" data-parent-id=""
                          data-parent-type="" data-form-type="modal" data-is-front="false"
                          data-url="{{ path('front_block_update_form') }}">
                        <i class="sp-icon sp-icon-settings sp-hover"></i>
                    </span>
                    <span class="sp-options-text sp-options-text-attribute-group sp-admin-button"
                          data-action="remove-front-block" data-url="{{ path('front_block_remove') }}">
                        <i class="sp-icon sp-icon-disable sp-hover"></i>
                    </span>
                    <span class="sp-options-text sp-options-text-attribute-group sp-admin-button">
                        <a href="/page/s_front_block/form/{{ data.block.id }}" target="_blank"><i class="sp-icon sp-icon-link sp-hover"></i></a>
                    </span>
{#                    <span class="sp-options-text sp-options-text-attribute-group sp-admin-button"#}
{#                          data-action="edit-block">#}
{#                        <i class="sp-icon sp-icon-edit-inline sp-hover"></i>#}
{#                    </span>#}
                </div>
            </div>
        </div>
{#        <div class="sp-inline-edit-wrapper"#}
{#             data-new-height="9">#}
{#            <div class="inline-data">#}
{#                {% if data.block.showOnStore %}#}
{#                    <div class="stores" data-form-group="show_on_store">#}
{#                        {% for storeId,storeOn in data.block.showOnStore %}#}
{#                            <div class="store form-group">#}
{#                                {% set store = get_store_by_id(storeId) %}#}
{#                                <label class="store-switcher" data-store="{{ storeId }}">#}
{#                                    <span>{{ get_entity_store_attribute(get_env("DEFAULT_STORE_ID"),store,"name") }}</span>#}
{#                                    <input type="hidden"#}
{#                                           class="form-control form-control-checkbox"#}
{#                                           data-action="checkbox-value"#}
{#                                           name="show_on_store[{{ storeId }}]"#}
{#                                           data-name="showOnStore_{{ storeId }}"#}
{#                                           value="{{ storeOn }}"/>#}
{#                                    <input data-off-text="{% trans %}No{% endtrans %}"#}
{#                                           data-on-text="{% trans %}Yes{% endtrans %}" type="checkbox"#}
{#                                           name="show_on_store_checkbox[{{ storeId }}]"#}
{#                                           data-type="bchackbox"#}
{#                                            {% if storeOn == 1 %} checked="checked"{% endif %}#}
{#                                           value="{{ storeOn }}"/>#}
{#                                </label>#}
{#                                <div class="inline-store-wrapper" data-wrapper="store_value" data-store="{{ storeId }}">#}
{#                                    <textarea#}
{#                                            data-type="ckeditor"#}
{#                                            class="form-control form-control-textarea"#}
{#                                            data-size="autosize"#}
{#                                            rows="4"#}
{#                                            data-name="editor_{{ storeId }}"#}
{#                                            name="editor_{{ data.block.id }}_[{{ storeId }}]">#}
{#                                        {{ data.block.editor[storeId]|default("")|raw }}#}
{#                                    </textarea>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% else %}#}
{#                    <textarea#}
{#                            data-type="ckeditor"#}
{#                            class="form-control form-control-textarea"#}
{#                            data-size="autosize"#}
{#                            rows="4"#}
{#                            data-name="editor"#}
{#                            name="editor_{{ data.block.id }}">#}
{#                        {{ data.block.editor|raw }}#}
{#                    </textarea>#}
{#                {% endif %}#}
{#                <div class="options">#}
{#                    <span data-action="inline-edit-front-block"#}
{#                          data-block-id="{{ data.block.id }}"#}
{#                          data-block-type="{{ data.block.type }}"#}
{#                          data-url="/template/block/inline-save"#}
{#                          class="btn btn-primary">{% trans %}Save{% endtrans %}</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>