<div class="form-group row {% if(attribute.frontendHidden) %}hidden{% endif %}" data-form-group="{{ attribute.attributeCode }}">
    <label class="col-sm-4 col-xs-4 control-label">{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('attribute_update_form', {'id': attribute.id}) }}">{{ attribute.frontendLabel|trans }}</a>{% else %}{{ attribute.frontendLabel|trans }}{% endif %}
        {% if attribute.note is not empty %}
            <span class="fa fa-question-circle sp-question-circle" data-content="{{ attribute.note|trans }}" rel="popover" data-html="true" data-placement="bottom"></span>
        {% endif %}
    </label>
    <div class="col-sm-8 col-xs-8">
        <input autocomplete="off" data-type="datetimesingle" {% if formType == "view" or attribute.readOnly %}readonly="readonly"{% endif %} {% if attribute.readOnly %}data-readonly="force"{% endif %} type="text" data-action="date" {% if value is empty and attribute.defaultValue is empty %}data-clear="true"{% endif %} class="form-control" name="{{ attribute.attributeCode }}"
                {% if(attribute.validator is not empty) %}
                    {% set validators = attribute.validator | json_decode %}
                    {% for validator in validators %}
                        {{ include('AppBundle:Form/Validators:' ~ validator.type ~ '.html.twig') }}
                    {% endfor %}
                {% endif %}
                value="{{ value }}"
        />
        <span data-action="clear-date" class="sp-clear {% if formType == "view" or attribute.readOnly %}hidden{% endif %}">x</span>
    </div>
</div>
