<div class="form-group row {% if(attribute.frontendHidden) %}hidden{% endif %}" data-form-group="{{ attribute.attributeCode }}">
    <label class="col-sm-4 col-xs-4 control-label">{% if is_granted('ROLE_ADMIN') %}<a
            href="{{ path('attribute_update_form', {'id': attribute.id}) }}">{{ attribute.frontendLabel|trans }}</a>{% else %}{{ attribute.frontendLabel|trans }}{% endif %}
        {% if attribute.note is not empty %}
            <span class="fa fa-question-circle sp-question-circle" data-content="{{ attribute.note|trans }}" rel="popover" data-html="true" data-placement="bottom"></span>
        {% endif %}
    </label>
    <div class="col-sm-8 col-xs-8">
        {% if missing_source_model is defined %}
            <div class="alert alert-warning">{% trans %}Missing source model{% endtrans %}</div>
        {% else %}
            {% if missing_entity is defined %}
                <div><em>{% trans %}Missing entity{% endtrans %}: {{ missing_entity }}</em></div>
            {% else %}
                <a href="{{ url }}" target="_blank">{{ name }}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
