<div class="form-group row {% if(attribute.frontendHidden) %}hidden{% endif %}"
     data-form-group="{{ attribute.attributeCode }}">
    {% if stores is defined and stores is not empty %}
        <div class="col-xs-12">
            <div class="row">
                <label class="col-sm-4 col-xs-4 control-label">
                    {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('attribute_update_form', {'id': attribute.id}) }}">{{ attribute.frontendLabel|trans }}</a>
                    {% else %}
                        {{ attribute.frontendLabel|trans }}
                    {% endif %}
                    {% if attribute.note is not empty %}
                        <span class="fa fa-question-circle sp-question-circle" data-content="{{ attribute.note|trans }}"
                              rel="popover" data-html="true" data-placement="bottom"></span>
                    {% endif %}
                </label>
            </div>
            {% for store in stores %}
                <div class="form-group row" data-store="{{ store.store_id }}" data-wrapper="store_value">
                    <label class="col-sm-4 col-xs-4 control-label">
                        <span>{{ store.store_name }}</span>
                    </label>
                    <div class="col-sm-8 col-xs-8">
                        <input data-type="text"
                                {% if (formType == "view" and attribute.attributeCode != "id") or attribute.readOnly %} readonly="readonly" {% endif %}
                                {% if attribute.readOnly %} data-readonly="force" {% endif %}
                               class="form-control"
                               data-lpignore="true"
                               type="text"
                               name="{{ attribute.attributeCode }}[{{ store.store_id }}]"
                                {% apply spaceless %} {% if(attribute.validator is not empty) %} {% set validators = attribute.validator | json_decode %} {% for validator in validators %} {{ include('AppBundle:Form/Validators:' ~ validator.type ~ '.html.twig') }} {% endfor %} {% endif %} value="{% if value[store.store_id] is defined %}{{ value[store.store_id] }}{% endif %}" {% endapply %}/>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
