<div class="form-group row {% if(attribute.frontendHidden) %}hidden{% endif %}"
     data-form-group="{{ attribute.attributeCode }}">
    {% if json_keys is defined and json_keys is not empty %}
        <div class="col-xs-12">
            <div class="row">
                <label class="col-sm-4 col-xs-4 control-label">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('attribute_update_form', {'id': attribute.id}) }}">{{ attribute.frontendLabel|trans }}</a>
                    {% else %}
                        {{ attribute.frontendLabel|trans }}
                    {% endif %}
                    {% if attribute.note is not empty %}
                        <span class="fa fa-question-circle sp-question-circle" data-content="{{ attribute.note|trans }}"
                              rel="popover" data-html="true" data-placement="bottom"></span>
                    {% endif %}
                </label>
            </div>
            {% for json_key in json_keys %}
                <div class="form-group row" data-store="{{ json_key.id }}" data-wrapper="store_value">
                    <label class="col-sm-4 col-xs-4 control-label">
                        <span>{{ json_key.name }}</span>
                    </label>
                    <div class="col-sm-8 col-xs-8">
                        {% apply spaceless %}
                            <textarea
                                    data-type="{{ attribute.frontendType }}" {% if formType == "view" or attribute.readOnly %} readonly="readonly" {% endif %} {% if attribute.readOnly %} data-readonly="force" {% endif %} class="form-control form-control-textarea"
                                    data-size="autosize" rows="4" id="{{ attribute.attributeCode }}_{{ json_key.id }}"
                                    name="{{ attribute.attributeCode }}[{{ json_key.id }}]" {% apply spaceless %} {% if(attribute.validator is not empty) %} {% set validators = attribute.validator | json_decode %} {% for validator in validators %} {{ include('AppBundle:Form/Validators:' ~ validator.type ~ '.html.twig') }} {% endfor %} {% endif %} {% endapply %}>{% apply spaceless %}
                                {% if value[json_key.id] is defined and value[json_key.id] is not empty %}
                                    {{ value[json_key.id]|trim }}
                                {% endif %}
                            {% endapply %}</textarea>
                        {% endapply %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
