{% if attribute is defined %}{% apply spaceless %}
    {% if showLink == 1 %}
        {% if app.user.hasPrivilege(3,field_data.attributeSet.uid) or is_granted('ROLE_ADMIN') %}
            <a href="{{ path("page_view", {'id': field_data.id, 'url': field_data.attributeSet.attributeSetCode, 'type': 'form'}) }}">{{ field_data.firstName }} {{ field_data.lastName }}{% if field_data.account.isLegalEntity == 1 %} - {{ field_data.account.name }}{% endif %}</a>
        {% elseif app.user.hasPrivilege(2,field_data.attributeSet.uid) or is_granted('ROLE_ADMIN') %}
            <a href="{{ path("page_view", {'id': field_data.id, 'url': field_data.attributeSet.attributeSetCode, 'type': 'view'}) }}">{{ field_data.firstName }} {{ field_data.lastName }}{% if field_data.account.isLegalEntity == 1 %} - {{ field_data.account.name }}{% endif %}</a>
        {% else %}
            {{ field_data.firstName }} {{ field_data.lastName }}{% if field_data.account.isLegalEntity == 1 %} - {{ field_data.account.name }}{% endif %}
        {% endif %}
    {% else %}
        {{ field_data.firstName }} {{ field_data.lastName }}{% if field_data.account.isLegalEntity == 1 %} - {{ field_data.account.name }}{% endif %}
    {% endif %}
{% endapply %}{% endif %}