<div class="filters">
    {% if additional is defined and additional is not empty %}
        {% set rendered = [] %}
        {% if additional["price"] is defined and additional["price"] is not empty %}
            {% set rendered = rendered|merge(['price']) %}
            {% for values in additional["price"] %}
                {% for key,filter in values %}
                    {% if (filter.selected_min_price is defined and filter.selected_min_price is not empty and filter.selected_min_price > filter.min_price) or
                        (filter.selected_max_price is defined and filter.selected_max_price is not empty and filter.selected_max_price < filter.max_price) %}
                        <span class="selected price-remove-filtered-value" data-id="price-filter">
                            <span class="filtered-value">{{ filter.selected_min_price }} - {{ filter.selected_max_price }} {{ get_env("CURRENT_CURRENCY_CODE") }}</span>
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_63_401)">
                                    <path d="M9.99002 1.105C9.91095 1.02488 9.81675 0.961261 9.71289 0.917839C9.60903 0.874417 9.49758 0.852074 9.38501 0.852074C9.27244 0.852074 9.16102 0.874417 9.05716 0.917839C8.9533 0.961261 8.8591 1.02488 8.78003 1.105L5.14001 4.825L1.46002 1.14501C1.29493 1.01036 1.08573 0.941761 0.872955 0.952538C0.660185 0.963314 0.458994 1.05269 0.30835 1.20333C0.157706 1.35397 0.0683324 1.55517 0.0575562 1.76794C0.0467799 1.98071 0.115378 2.18991 0.250031 2.355L3.93002 6.035L0.250031 9.71502C0.169908 9.79409 0.106288 9.88826 0.0628662 9.99212C0.0194445 10.096 -0.00292969 10.2074 -0.00292969 10.32C-0.00292969 10.4326 0.0194445 10.544 0.0628662 10.6479C0.106288 10.7517 0.169908 10.8459 0.250031 10.925C0.328075 11.0049 0.421439 11.0682 0.524536 11.1112C0.627634 11.1541 0.73832 11.1759 0.850006 11.175C0.963208 11.1761 1.07549 11.1545 1.18024 11.1116C1.28499 11.0686 1.38012 11.0052 1.46002 10.925L5.14001 7.24502L8.82001 10.925C8.98103 11.0844 9.19845 11.1738 9.42502 11.1738C9.65158 11.1738 9.86901 11.0844 10.03 10.925C10.1102 10.8459 10.1738 10.7517 10.2172 10.6479C10.2606 10.544 10.283 10.4326 10.283 10.32C10.283 10.2074 10.2606 10.096 10.2172 9.99212C10.1738 9.88826 10.1102 9.79409 10.03 9.71502L6.35001 6.035L10.03 2.355C10.1139 2.27267 10.1798 2.17384 10.2235 2.06475C10.2673 1.95566 10.2879 1.83871 10.2841 1.72124C10.2804 1.60378 10.2523 1.48835 10.2017 1.38229C10.1511 1.27622 10.079 1.1818 9.99002 1.105Z"
                                          fill="#3D3C43"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_63_401">
                                        <rect width="10.29" height="10.29" fill="white" transform="translate(0 0.855003)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if additional["categories"] is defined and additional["categories"] is not empty %}
            {% set rendered = rendered|merge(['categories']) %}
            {% for values in additional["categories"] %}
                {% for key,filter in values %}
                    {% if filter.selected %}
                        <span class="selected" data-id="{{ string_to_code("filter-category-" ~ key) }}">
                            {% set filterlabelValue = filter.name|trans %}
                            {{ filterlabelValue }}
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_63_401)">
                                    <path d="M9.99002 1.105C9.91095 1.02488 9.81675 0.961261 9.71289 0.917839C9.60903 0.874417 9.49758 0.852074 9.38501 0.852074C9.27244 0.852074 9.16102 0.874417 9.05716 0.917839C8.9533 0.961261 8.8591 1.02488 8.78003 1.105L5.14001 4.825L1.46002 1.14501C1.29493 1.01036 1.08573 0.941761 0.872955 0.952538C0.660185 0.963314 0.458994 1.05269 0.30835 1.20333C0.157706 1.35397 0.0683324 1.55517 0.0575562 1.76794C0.0467799 1.98071 0.115378 2.18991 0.250031 2.355L3.93002 6.035L0.250031 9.71502C0.169908 9.79409 0.106288 9.88826 0.0628662 9.99212C0.0194445 10.096 -0.00292969 10.2074 -0.00292969 10.32C-0.00292969 10.4326 0.0194445 10.544 0.0628662 10.6479C0.106288 10.7517 0.169908 10.8459 0.250031 10.925C0.328075 11.0049 0.421439 11.0682 0.524536 11.1112C0.627634 11.1541 0.73832 11.1759 0.850006 11.175C0.963208 11.1761 1.07549 11.1545 1.18024 11.1116C1.28499 11.0686 1.38012 11.0052 1.46002 10.925L5.14001 7.24502L8.82001 10.925C8.98103 11.0844 9.19845 11.1738 9.42502 11.1738C9.65158 11.1738 9.86901 11.0844 10.03 10.925C10.1102 10.8459 10.1738 10.7517 10.2172 10.6479C10.2606 10.544 10.283 10.4326 10.283 10.32C10.283 10.2074 10.2606 10.096 10.2172 9.99212C10.1738 9.88826 10.1102 9.79409 10.03 9.71502L6.35001 6.035L10.03 2.355C10.1139 2.27267 10.1798 2.17384 10.2235 2.06475C10.2673 1.95566 10.2879 1.83871 10.2841 1.72124C10.2804 1.60378 10.2523 1.48835 10.2017 1.38229C10.1511 1.27622 10.079 1.1818 9.99002 1.105Z"
                                          fill="#3D3C43"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_63_401">
                                        <rect width="10.29" height="10.29" fill="white" transform="translate(0 0.855003)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% set hasMore = false %}
        {% for attr_id,filter in additional %}
            {% if attr_id not in rendered %}
                {% set hasMore = true %}
            {% endif %}
        {% endfor %}
        {% if hasMore %}
            {% for attr_id,filter in additional %}
                {% if attr_id not in rendered %}
                    {% for filter_type,values in filter %}
                        {% for key,filter in values %}
                            {% if filter.selected %}
                                <span class="selected" data-id="{{ string_to_code("filter-" ~ attr_id ~ "-" ~ key) }}">
                                    {% if filter.prefix is defined and filter.prefix is not empty %}
                                        {{ filter.prefix|trans }}
                                    {% endif %}
                                    {{ filter.name|trans }}
                                    {% if filter.sufix is defined and filter.sufix is not empty %}
                                        {{ filter.sufix|trans }}
                                    {% endif %}
                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_63_401)">
                                            <path d="M9.99002 1.105C9.91095 1.02488 9.81675 0.961261 9.71289 0.917839C9.60903 0.874417 9.49758 0.852074 9.38501 0.852074C9.27244 0.852074 9.16102 0.874417 9.05716 0.917839C8.9533 0.961261 8.8591 1.02488 8.78003 1.105L5.14001 4.825L1.46002 1.14501C1.29493 1.01036 1.08573 0.941761 0.872955 0.952538C0.660185 0.963314 0.458994 1.05269 0.30835 1.20333C0.157706 1.35397 0.0683324 1.55517 0.0575562 1.76794C0.0467799 1.98071 0.115378 2.18991 0.250031 2.355L3.93002 6.035L0.250031 9.71502C0.169908 9.79409 0.106288 9.88826 0.0628662 9.99212C0.0194445 10.096 -0.00292969 10.2074 -0.00292969 10.32C-0.00292969 10.4326 0.0194445 10.544 0.0628662 10.6479C0.106288 10.7517 0.169908 10.8459 0.250031 10.925C0.328075 11.0049 0.421439 11.0682 0.524536 11.1112C0.627634 11.1541 0.73832 11.1759 0.850006 11.175C0.963208 11.1761 1.07549 11.1545 1.18024 11.1116C1.28499 11.0686 1.38012 11.0052 1.46002 10.925L5.14001 7.24502L8.82001 10.925C8.98103 11.0844 9.19845 11.1738 9.42502 11.1738C9.65158 11.1738 9.86901 11.0844 10.03 10.925C10.1102 10.8459 10.1738 10.7517 10.2172 10.6479C10.2606 10.544 10.283 10.4326 10.283 10.32C10.283 10.2074 10.2606 10.096 10.2172 9.99212C10.1738 9.88826 10.1102 9.79409 10.03 9.71502L6.35001 6.035L10.03 2.355C10.1139 2.27267 10.1798 2.17384 10.2235 2.06475C10.2673 1.95566 10.2879 1.83871 10.2841 1.72124C10.2804 1.60378 10.2523 1.48835 10.2017 1.38229C10.1511 1.27622 10.079 1.1818 9.99002 1.105Z"
                                                  fill="#3D3C43"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_63_401">
                                                <rect width="10.29" height="10.29" fill="white" transform="translate(0 0.855003)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% set boolFilters = [] %}
    {% if secondary_filters is defined and secondary_filters is not empty %}
        {% for attr_id,filter in secondary_filters %}
            {% if filter.values is defined and filter.values is not empty %}
                {% if attr_id in ["bio","lactose_free","gmo_free","gluten_free"] %}{# BOOL #}
                    {% set boolFilters = boolFilters|merge({(attr_id): filter}) %}
                {% else %}{# NOT BOOL #}
                    {% set is_selected = false %}
                    {% set secondary_filters_html %}
                        {% for key,filter_value in filter.values %}
                            {% if filter_value.selected %}
                                <span class="selected" data-id="{{ string_to_code("filter-" ~ attr_id ~ "-" ~ key) }}">
                                    {% set filterlabelValue = filter_value.name|trans %}
                                    {{ filterlabelValue }}
                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_63_401)">
                                            <path d="M9.99002 1.105C9.91095 1.02488 9.81675 0.961261 9.71289 0.917839C9.60903 0.874417 9.49758 0.852074 9.38501 0.852074C9.27244 0.852074 9.16102 0.874417 9.05716 0.917839C8.9533 0.961261 8.8591 1.02488 8.78003 1.105L5.14001 4.825L1.46002 1.14501C1.29493 1.01036 1.08573 0.941761 0.872955 0.952538C0.660185 0.963314 0.458994 1.05269 0.30835 1.20333C0.157706 1.35397 0.0683324 1.55517 0.0575562 1.76794C0.0467799 1.98071 0.115378 2.18991 0.250031 2.355L3.93002 6.035L0.250031 9.71502C0.169908 9.79409 0.106288 9.88826 0.0628662 9.99212C0.0194445 10.096 -0.00292969 10.2074 -0.00292969 10.32C-0.00292969 10.4326 0.0194445 10.544 0.0628662 10.6479C0.106288 10.7517 0.169908 10.8459 0.250031 10.925C0.328075 11.0049 0.421439 11.0682 0.524536 11.1112C0.627634 11.1541 0.73832 11.1759 0.850006 11.175C0.963208 11.1761 1.07549 11.1545 1.18024 11.1116C1.28499 11.0686 1.38012 11.0052 1.46002 10.925L5.14001 7.24502L8.82001 10.925C8.98103 11.0844 9.19845 11.1738 9.42502 11.1738C9.65158 11.1738 9.86901 11.0844 10.03 10.925C10.1102 10.8459 10.1738 10.7517 10.2172 10.6479C10.2606 10.544 10.283 10.4326 10.283 10.32C10.283 10.2074 10.2606 10.096 10.2172 9.99212C10.1738 9.88826 10.1102 9.79409 10.03 9.71502L6.35001 6.035L10.03 2.355C10.1139 2.27267 10.1798 2.17384 10.2235 2.06475C10.2673 1.95566 10.2879 1.83871 10.2841 1.72124C10.2804 1.60378 10.2523 1.48835 10.2017 1.38229C10.1511 1.27622 10.079 1.1818 9.99002 1.105Z"
                                                  fill="#3D3C43"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_63_401">
                                                <rect width="10.29" height="10.29" fill="white" transform="translate(0 0.855003)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                            {% endif %}
                        {% endfor %}
                    {% endset %}

                    {% if secondary_filters_html is not empty %}{{ secondary_filters_html }}{% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if boolFilters is not empty %}
            {% for attr_id,filter in boolFilters %}
                {% set isFirstAttribute = loop.first %}
                {% set isLastAttribute = loop.last %}
                {% if filter.values is defined and filter.values is not empty %}
                    {% set is_selected = false %}
                    {% set bool_filters_html %}
                        {% for key,filter_value in filter.values %}
                            {% if key == "da" and filter_value.selected %}
                                <span class="selected" data-id="{{ string_to_code("filter-" ~ attr_id ~ "-" ~ key) }}">
                                    {% set filterlabelValue = filter.attribute_configuration.name|trans %}
                                    {{ filterlabelValue }}
                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_63_401)">
                                            <path d="M9.99002 1.105C9.91095 1.02488 9.81675 0.961261 9.71289 0.917839C9.60903 0.874417 9.49758 0.852074 9.38501 0.852074C9.27244 0.852074 9.16102 0.874417 9.05716 0.917839C8.9533 0.961261 8.8591 1.02488 8.78003 1.105L5.14001 4.825L1.46002 1.14501C1.29493 1.01036 1.08573 0.941761 0.872955 0.952538C0.660185 0.963314 0.458994 1.05269 0.30835 1.20333C0.157706 1.35397 0.0683324 1.55517 0.0575562 1.76794C0.0467799 1.98071 0.115378 2.18991 0.250031 2.355L3.93002 6.035L0.250031 9.71502C0.169908 9.79409 0.106288 9.88826 0.0628662 9.99212C0.0194445 10.096 -0.00292969 10.2074 -0.00292969 10.32C-0.00292969 10.4326 0.0194445 10.544 0.0628662 10.6479C0.106288 10.7517 0.169908 10.8459 0.250031 10.925C0.328075 11.0049 0.421439 11.0682 0.524536 11.1112C0.627634 11.1541 0.73832 11.1759 0.850006 11.175C0.963208 11.1761 1.07549 11.1545 1.18024 11.1116C1.28499 11.0686 1.38012 11.0052 1.46002 10.925L5.14001 7.24502L8.82001 10.925C8.98103 11.0844 9.19845 11.1738 9.42502 11.1738C9.65158 11.1738 9.86901 11.0844 10.03 10.925C10.1102 10.8459 10.1738 10.7517 10.2172 10.6479C10.2606 10.544 10.283 10.4326 10.283 10.32C10.283 10.2074 10.2606 10.096 10.2172 9.99212C10.1738 9.88826 10.1102 9.79409 10.03 9.71502L6.35001 6.035L10.03 2.355C10.1139 2.27267 10.1798 2.17384 10.2235 2.06475C10.2673 1.95566 10.2879 1.83871 10.2841 1.72124C10.2804 1.60378 10.2523 1.48835 10.2017 1.38229C10.1511 1.27622 10.079 1.1818 9.99002 1.105Z"
                                                  fill="#3D3C43"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_63_401">
                                                <rect width="10.29" height="10.29" fill="white" transform="translate(0 0.855003)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                            {% endif %}
                        {% endfor %}
                    {% endset %}

                    {% if bool_filters_html is not empty %}{{ bool_filters_html }}{% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
</div>