{% set label = get_entity_store_attribute(current_store_id,field,"name") %}
{% apply spaceless %}
    {% if field.entityTypeCodeId is not empty %}
        {% set entities = get_entities_by_type(field.entityTypeCodeId) %}
        <label class="plain">{{ label }}{% if field.getRequired %}*{% endif %}
            {% if submission is not empty %}
                {% set submissionValues = submission.getValues %}
                {% for submissionValue in submissionValues %}
                    {% if submissionValue.getField.getId == field.id and submissionValue.getSubmissionValue is not empty %}
                        {% set field = submissionValue.getField %}
                        {% set entity = get_entity_by_type_and_id(field.getEntityTypeCodeId, submissionValue.getSubmissionValue) %}
                        <div class="submission-value">{{ get_entity_store_attribute(current_store_id,entity,"name")|default("") }}<br><br></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <select name="field-{{ field.id }}"
                        {{ render_nested_twig(field.getDataAttributes|default("")) }}
                        {% if field.getReadOnly %}readonly="readonly"{% endif %}
                        {% if field.getRequired %}required="required"{% endif %}>
                    <option value="">{% trans into current_language %}Select option{% endtrans %}</option>
                    {% for entity in entities %}
                        <option value="{{ entity.id }}">
                            {% if entity.display_name is defined %}
                                {{ entity.display_name }}
                            {% else %}
                                {{ get_entity_store_attribute(current_store_id,entity,"name")|striptags|trans }}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
                {% if field.getNote|default("") is not empty %}
                    <div class="note">{{ field.getNote|raw }}</div>
                {% endif %}
            {% endif %}
        </label>
    {% endif %}
{% endapply %}