{% set label = get_entity_store_attribute(current_store_id,field,"name") %}
{% apply spaceless %}
    <label>{{ label }}{% if field.getRequired %}*{% endif %}
        {% if submission is not empty %}
            {% set submissionValues = submission.getContent|json_decode(constant('JSON_OBJECT_AS_ARRAY')) %}
            {% for submissionData in submissionValues %}
                {% if submissionData.field == field.id %}
                    <div class="submission-value">{{ submissionData.value }}<br><br></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <input type="text"
                   name="field-{{ field.id }}"
                   {% if field.getRegexValidation is not empty %}pattern="{{ field.getRegexValidation }}"{% endif %}
                   data-timepicker="false"
                    {{ render_nested_twig(field.getDataAttributes|default("")) }}
                   autocomplete="off"
                   class="datetimepicker"
                   placeholder="{{ field.getPlaceholder|default(label) }}"
                    {% if field.getReadOnly %}readonly="readonly"{% endif %}
                    {% if field.getRequired %}required{% endif %}>
            {% if field.getNote|default("") is not empty %}
                <div class="note">{{ field.getNote|raw }}</div>
            {% endif %}
        {% endif %}
    </label>
{% endapply %}