{% set product = quoteItem.product %}
{% if product is defined and product is not empty and product.getIsGift %}
    {% set productTitle = get_entity_store_attribute(current_store_id,product,"name") %}
    <div class="product-display-grid item" data-product-id="{{ quoteItem.product.id }}">
        <span class="product-display-grid-image">
            {% if quoteItem.product.getSelectedImage() is not empty %}
                {% set image_url = "/Documents/Products/"  ~ quoteItem.product.getSelectedImage().file %}
                {% set image_style_url = image_url|image_style('product_list_item') %}
                {% if image_style_url %}
                    {% set image_url = image_style_url %}
                {% endif %}
            {% else %}
                {% set image_url = "/frontend/images/image-placeholder.png" %}
            {% endif %}
            <img src="{{ image_url }}"
                 loading="lazy"
                 alt="{% if quoteItem.product.getSelectedImage.alt is defined and quoteItem.product.getSelectedImage.alt is not empty %}{{ quoteItem.product.getSelectedImage.alt }}{% else %}{{ productTitle }}{% endif %}"
                 title="{% if quoteItem.product.getSelectedImage.title is defined and quoteItem.product.getSelectedImage.title is not empty %}{{ quoteItem.product.getSelectedImage.title }}{% else %}{{ productTitle }}{% endif %}"/>
        </span>
        <div class="product-info">
            <span class="is-gift">{% trans into current_language %}Gift{% endtrans %}</span>
            <h3><span class="product-click" title="{{ productTitle }}">{{ productTitle }}</span></h3>
        </div>
        <span class="checkout-cart"></span>
        <span class="prices"></span>
        <span class="actions">
{#            {% if editable %}#}
                <span class="cart-remove-item local-overlay-toggle" data-product-id="{{ quoteItem.productId }}" data-quote-item-id="{{ quoteItem.getId }}">{{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Utilities/Icons:cart_remove.html.twig', 'data': {}}, {})) }}</span>
{#            {% endif %}#}
        </span>
        <span></span>
    </div>
{% endif %}