{% if get_is_admin(app.user) %}
    <div id="page-admin">
        <label for="toggle-editing">
            <span class="toggle" title="{% trans into current_language %}Editing options{% endtrans %}">
                <svg
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        width="1000mm"
                        height="1000mm"
                        viewBox="0 0 1000 1000"
                        style="max-width:1.6em; height: auto;">

                    <path
                            id="path"
                            style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;"
                            d=" M 747 105C 759 108 759 117 754 122C 754 122 649 226 649 226C 649 226 674 327 674 327C 674 327 774 350 774 350C 774 350 878 247 878 247C 884 241 894 244 895 250C 900 269 902 278 902 300C 902 353 881 404 843 442C 805 480 754 501 701 501C 683 501 666 499 649 494C 649 494 622 467 622 467C 604 450 579 441 554 441C 542 441 531 443 520 447C 520 447 466 393 466 393C 466 393 507 352 507 352C 502 335 500 318 500 300C 500 247 521 196 559 158C 597 120 648 99 701 99C 712 99 724 99 747 105C 747 105 747 105 747 105M 160 135C 160 135 230 193 230 193C 232 194 233 196 233 198C 233 198 244 227 244 227C 244 227 511 494 511 494C 529 475 567 470 595 494C 595 494 843 741 843 741C 878 775 878 832 843 867C 808 902 752 902 717 867C 717 867 471 621 471 621C 451 603 443 563 472 535C 472 535 211 274 211 274C 211 274 172 263 172 263C 170 263 168 262 167 260C 167 260 109 186 109 186C 105 182 106 176 109 172C 109 172 147 135 147 135C 148 133 151 132 154 132C 156 132 158 133 160 135C 160 135 160 135 160 135M 418 543C 414 554 411 566 411 578C 411 604 421 628 437 646C 437 646 466 676 466 676C 466 676 267 876 267 876C 228 915 164 915 126 876C 87 837 87 773 126 735C 126 735 367 492 367 492C 367 492 418 543 418 543M 151 808C 151 833 171 853 196 853C 221 853 241 833 241 808C 241 783 221 763 196 763C 171 763 151 783 151 808C 151 808 151 808 151 808"
                            transform="">
                    </path>
                </svg>
            </span>
        </label>
        <input type="checkbox" id="toggle-editing" class="hidden is-custom"/>
        <ul>
            <li><a href="{{ get_env("SSL") }}://{{ get_env("BACKEND_URL") }}{{ get_env("FRONTEND_URL_PORT") }}/page/{{ data.page.entityType.entityTypeCode }}/form/{{ data.page.id }}" target="_blank"
                   title="{% trans into current_language %}Edit{% endtrans %}">
                    <svg
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            width="1000mm"
                            height="1000mm"
                            viewBox="0 0 1000 1000"
                            style="max-width:1.6em; height: auto;">

                        <path
                                id="path"
                                style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;"
                                d=" M 792 267C 801 276 801 292 792 302C 792 302 756 337 756 337C 756 337 650 231 650 231C 650 231 686 196 686 196C 695 186 711 186 721 196C 721 196 792 267 792 267M 721 373C 721 373 420 673 420 673C 420 673 314 567 314 567C 314 567 615 267 615 267C 615 267 721 373 721 373M 385 708C 385 708 367 726 367 726C 364 730 359 732 355 733C 355 733 266 751 266 751C 249 754 233 739 237 721C 237 721 255 633 255 633C 255 628 258 624 261 620C 261 620 279 602 279 602C 279 602 385 708 385 708"
                                transform="">
                        </path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
{% endif %}