<script type="text/javascript">
    var translations = {
        'yes': '{% trans into current_language %}Yes{% endtrans %}',
        'no': '{% trans into current_language %}No{% endtrans %}',
        'data_export': '{% trans into current_language %}Data export{% endtrans %}',
        'quick_search': '{% trans into current_language %}Quick search{% endtrans %}',
        'records_per_page': '{% trans into current_language %}Records per page{% endtrans %}',
        'please_fill_in_the_field_correctly': '{% trans into current_language %}Please fill in the field correctly{% endtrans %}',
        'there_has_been_an_error_please_try_again': '{% trans into current_language %}There has been an error please try again{% endtrans %}',
        'error_message': '{% trans into current_language %}Error{% endtrans %}',
        'no_items_selected': '{% trans into current_language %}No items selected{% endtrans %}',
        'limit_error_message': '{% trans into current_language %}Too many items selected{% endtrans %}',
        'models': '{% trans into current_language %}models{% endtrans %}',
        'percentage': '{% trans into current_language %}Percentage{% endtrans %}',
        'price': '{% trans into current_language %}Price{% endtrans %}',
        'today': '{% trans into current_language %}Today{% endtrans %}',
        'yesterday': '{% trans into current_language %}Yesterday{% endtrans %}',
        'last_7_days': '{% trans into current_language %}Last 7 Days{% endtrans %}',
        'last_30_days': '{% trans into current_language %}Last 30 days{% endtrans %}',
        'this_month': '{% trans into current_language %}This month{% endtrans %}',
        'last_month': '{% trans into current_language %}Last month{% endtrans %}',
        'last_quarter': '{% trans into current_language %}Last quarter{% endtrans %}',
        'last_year': '{% trans into current_language %}Last year{% endtrans %}',
        'apply': '{% trans into current_language %}Apply{% endtrans %}',
        'cancel': '{% trans into current_language %}Cancel{% endtrans %}',
        'yes_i_am_sure': '{% trans into current_language %}Yes, I am sure!{% endtrans %}',
        'from': '{% trans into current_language %}From{% endtrans %}',
        'to': '{% trans into current_language %}To{% endtrans %}',
        'custom': '{% trans into current_language %}Custom{% endtrans %}',
        'week': '{% trans into current_language %}Week{% endtrans %}',
        'web_price': '{% trans into current_language %}Web price{% endtrans %}',
        'regular_price': '{% trans into current_language %}Regular price{% endtrans %}',
        'too_many_products': '{% trans into current_language %}Too many products selected{% endtrans %}',
        'compare': '{% trans into current_language %}Compare products{% endtrans %}',
        'login_error': '{% trans into current_language %}Please fill in the required fields{% endtrans %}',
        'please_wait': '{% trans into current_language %}Please wait{% endtrans %}',
        'dropzone': '{% trans into current_language %}Drag and drop files here to upload, or click to select one{% endtrans %}',
        'choose_location': '{% trans into current_language %}Choose a location{% endtrans %}',
        'query_set_error': '{% trans into current_language %}Query string not set{% endtrans %}',
        'form_error_message': '{% trans into current_language %}Please recheck entered fields{% endtrans %}',
        'invalid_fields': '{% trans into current_language %}invalid fields{% endtrans %}',
        'please_confirm': '{% trans into current_language %}Please confirm!{% endtrans %}',
        'price_undefine': '{% trans into current_language %}Price is not defined{% endtrans %}',
        'select_value': '{% trans into current_language %}Select value{% endtrans %}',
        'select_values': '{% trans into current_language %}Select values{% endtrans %}',
        'type_to_filter': '{% trans into current_language %}Type to filter{% endtrans %}',
        'sfrom': '{% trans into current_language %}From{% endtrans %}',
        'sto': '{% trans into current_language %}To{% endtrans %}',
        'select_a_date': '{% trans into current_language %}Select a date{% endtrans %}',
        'showing': '{% trans into current_language %}Showing{% endtrans %}',
        'smallfrom': '{% trans into current_language %}from{% endtrans %}',
        'smallto': '{% trans into current_language %}to{% endtrans %}',
        'results': '{% trans into current_language %}results{% endtrans %}',
        'sfrist': '{% trans into current_language %}First{% endtrans %}',
        'sprevious': '{% trans into current_language %}Previous{% endtrans %}',
        'snext': '{% trans into current_language %}Next{% endtrans %}',
        'slast': '{% trans into current_language %}Last{% endtrans %}',
        'filtered_from': '{% trans into current_language %}Filtered from{% endtrans %}',
        'totals': '{% trans into current_language %}total{% endtrans %}',
        'no_results_fund': '{% trans into current_language %}No results found{% endtrans %}',
        'create': '{% trans into current_language %}Create{% endtrans %}',
        'searching': '{% trans into current_language %}Searching...{% endtrans %}',
        'searching_in_progress': '{% trans into current_language %}Searching in progress...{% endtrans %}',
        'January': '{% trans into current_language %}January{% endtrans %}',
        'February': '{% trans into current_language %}February{% endtrans %}',
        'March': '{% trans into current_language %}March{% endtrans %}',
        'April': '{% trans into current_language %}April{% endtrans %}',
        'May': '{% trans into current_language %}May{% endtrans %}',
        'June': '{% trans into current_language %}June{% endtrans %}',
        'July': '{% trans into current_language %}July{% endtrans %}',
        'August': '{% trans into current_language %}August{% endtrans %}',
        'September': '{% trans into current_language %}September{% endtrans %}',
        'October': '{% trans into current_language %}October{% endtrans %}',
        'November': '{% trans into current_language %}November{% endtrans %}',
        'December': '{% trans into current_language %}December{% endtrans %}',
        'Jan': '{% trans into current_language %}Jan{% endtrans %}',
        'Feb': '{% trans into current_language %}Feb{% endtrans %}',
        'Mar': '{% trans into current_language %}Mar{% endtrans %}',
        'Apr': '{% trans into current_language %}Apr{% endtrans %}',
        'Jun': '{% trans into current_language %}Jun{% endtrans %}',
        'Jul': '{% trans into current_language %}Jul{% endtrans %}',
        'Aug': '{% trans into current_language %}Aug{% endtrans %}',
        'Sep': '{% trans into current_language %}Sep{% endtrans %}',
        'Oct': '{% trans into current_language %}Oct{% endtrans %}',
        'Nov': '{% trans into current_language %}Nov{% endtrans %}',
        'Dec': '{% trans into current_language %}Dec{% endtrans %}',
        'Monday': '{% trans into current_language %}Monday{% endtrans %}',
        'Tuesday': '{% trans into current_language %}Tuesday{% endtrans %}',
        'Wednesday': '{% trans into current_language %}Wednesday{% endtrans %}',
        'Thursday': '{% trans into current_language %}Thursday{% endtrans %}',
        'Friday': '{% trans into current_language %}Friday{% endtrans %}',
        'Saturday': '{% trans into current_language %}Saturday{% endtrans %}',
        'Sunday': '{% trans into current_language %}Sunday{% endtrans %}',
        'Mon': '{% trans into current_language %}Mon{% endtrans %}',
        'Tue': '{% trans into current_language %}Tue{% endtrans %}',
        'Wed': '{% trans into current_language %}Wed{% endtrans %}',
        'Thu': '{% trans into current_language %}Thu{% endtrans %}',
        'Fri': '{% trans into current_language %}Fri{% endtrans %}',
        'Sat': '{% trans into current_language %}Sat{% endtrans %}',
        'Sun': '{% trans into current_language %}Sun{% endtrans %}',
        'Clear': '{% trans into current_language %}Clear{% endtrans %}',
        'month': '{% trans into current_language %}Month{% endtrans %}',
        'day': '{% trans into current_language %}Day{% endtrans %}',
        'firstDayNumber': '{% trans into current_language %}firstDayNumber{% endtrans %}',
        'please_select_page': '{% trans into current_language %}Please select page{% endtrans %}',
        'please_select_product_group': '{% trans into current_language %}Please select product group{% endtrans %}',
        'please_select_url': '{% trans into current_language %}Please enter url{% endtrans %}',
        'calendar_export': '{% trans into current_language %}Calendar export{% endtrans %}',
        'clone': '{% trans into current_language %}Create clone{% endtrans %}',
        'clone_will_be_crated_after_save': '{% trans into current_language %}Clone will be created after save{% endtrans %}',
        'is_required': '{% trans into current_language %}is required{% endtrans %}',
        'remove_all_compare': '{% trans into current_language %}Are you sure you want to remove all products from compare?{% endtrans %}',
        'remove_item' : '{% trans %}Are you sure you want to remove?{% endtrans %}',
        'search_error': '{% trans into current_language %}An error occurred during search!{% endtrans %}',
        'selection_error': '{% trans into current_language %}An error occurred while saving your selection{% endtrans %}',
        'selection_saved': '{% trans into current_language %}Your selection is saved{% endtrans %}',
        'comparison': '{% trans into current_language %}Comparison{% endtrans %}',
        'favorites': '{% trans into current_language %}Favorites{% endtrans %}',
        'continue': '{% trans into current_language %}Continue{% endtrans %}',
        'enter_keyword': '{% trans into current_language %}Enter keyword{% endtrans %}',
        'max_value_warning_title': '{% trans into current_language %}Quantity too big{% endtrans %}',
        'max_value_warning_message': '{% trans into current_language %}Value must be less than{% endtrans %}',
        'max_value_warning_contact': '{% trans into current_language %}If you want larger quantity contact us on{% endtrans %} <a href="mailto:{{ get_env("GENERAL_CONTACT_EMAIL_RECIPIENT") }}">{{ get_env("GENERAL_CONTACT_EMAIL_RECIPIENT") }}</a>',
        'form_invalid_title': '{% trans into current_language %}Form validation error{% endtrans %}',
        'form_invalid_message': '{% trans into current_language %}Please check entered data and submit again.{% endtrans %}',
        'form_error_pass_length': '{% trans into current_language %}Password must contain at least 6 characters{% endtrans %}',
        'form_error_invalid_iob': '{% trans into current_language %}OIB must contain 11 numbers{% endtrans %}',
        'select2_error_loading': '{% trans into current_language %}The results could not be loaded.{% endtrans %}',
        'select2_searching': '{% trans into current_language %}Searching…{% endtrans %}',
        'select2_too_short': '{% trans into current_language %}Please enter additional characters{% endtrans %}',
        'enter_qty': '{% trans into current_language %}Add quantity:{% endtrans %}',
        'button_ok': '{% trans into current_language %}Ok{% endtrans %}',
        'button_cancel': '{% trans into current_language %}Cancel{% endtrans %}',
        'cart': '{% trans into current_language %}Cart{% endtrans %}',
        'invalid_email': '{% trans into current_language %}Invalid email{% endtrans %}',
        'search_min_length': '{% trans into current_language %}Enter at least 4 characters{% endtrans %}',
        'search_min_length_prefix': '{% trans into current_language %}Enter at least {% endtrans %}',
        'search_min_length_suffix': '{% trans into current_language %} characters{% endtrans %}',
        'product_not_available': '{% trans into current_language %}Product not available{% endtrans %}',
        'select_product': '{% trans into current_language %}Select product{% endtrans %}',
        'delete_account': '{% trans into current_language %}Are you sure you want to delete your account?{% endtrans %}',
        'admin_create_order': '{% trans into current_language %}Are you sure you want to create order?{% endtrans %}',
        'delete_block': '{% trans into current_language %}Are you sure you want to delete this block?{% endtrans %}',
        'favorites_url': '{% trans into current_language %}/en/favorites{% endtrans %}',
        'comparison_url': '{% trans into current_language %}/en/compare{% endtrans %}',

        'page_builder_add_before': '{% trans into current_language %}Add before{% endtrans %}',
        'page_builder_add_to_container': '{% trans into current_language %}Add to container{% endtrans %}',
        'page_builder_up': '{% trans into current_language %}Up{% endtrans %}',
        'page_builder_down': '{% trans into current_language %}Down{% endtrans %}',
    }
    var urls = {
        'cart': {
            'url': "{{ current_language_url }}/{{ get_page_url(current_store_id,56,"s_page") }}",
            'title': "{{ get_page_title(current_store_id,56,"s_page") }}",
        }
    }
</script>
