<div class="inner row">
    <span class="overlay-close"></span>
    {% if data.position_product_groups is defined and data.position_product_groups is not empty %}
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 submenu">
            <ul class="links categories">
                {% for pg in data.position_product_groups %}
                    <li><a href="{{ get_entity_store_attribute(current_store_id,pg ,"url") }}">{{ get_entity_store_attribute(current_store_id,pg ,"name") }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 items">
        <div class="vertical">
            {% if data.position_bundle is defined and data.position_bundle is not empty %}
                {% for pg in data.position_bundle %}
                    <a href="{{ get_entity_store_attribute(current_store_id,pg ,"url") }}" class="product-display-1">
                        {% if pg.getSelectedImage() is not empty %}
                            {% set image_url = "/Documents/product_group_images/"~ pg.getSelectedImage().file %}
                            {% set image_style_url = image_url|image_style('product_list_item') %}
                            {% if image_style_url %}
                                {% set image_url = image_style_url %}
                            {% endif %}
                        {% else %}
                            {% set image_url = "/frontend/images/image-placeholder.png" %}
                        {% endif %}
                        <img src="{{ image_url }}">
                        <span class="title">{{ get_entity_store_attribute(current_store_id,pg ,"name") }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="horizontal">
            {% if data.position_products.entities is defined and data.position_products.entities is not empty %}
                {% for pp in data.position_products.entities %}
                    <a href="{{ current_language_url }}/{{ get_entity_store_attribute(current_store_id,pp,"url") }}" class="product-display-2">
                        {% if pp.getSelectedImage() is not empty %}
                            {% set image_url = "/Documents/Products/"~pp.getSelectedImage().file %}
                            {% set image_style_url = image_url|image_style('product_list_item') %}
                            {% if image_style_url %}
                                {% set image_url = image_style_url %}
                            {% endif %}
                        {% else %}
                            {% set image_url = "/frontend/images/image-placeholder.png" %}
                        {% endif %}
                        <img src="{{ image_url }}">
                        <span class="title">{{ get_entity_store_attribute(current_store_id,pp,"name") }}</span>
                        {% set prices = render(controller('ScommerceBusinessBundle:Price:getProductPrices', {'product':pp}, {}))|json_decode %}
                        {% if prices.price is not empty %}
                            <div class="price">
                                <div class="price-regular {% if prices.discount_price is not empty %}has-discount{% endif %}">
                                    <span class="price-value">{{ prices.price|number_format(2, ',', '.') }} {{ prices.currency_code }} {% if prices.discount_price is empty %}
                                            <span class="vat-mark">{{ prices.vat_type|trans }}</span>{% endif %}</span>
                                </div>
                                {% if prices.discount_price is not empty %}
                                    <div class="price-regular price-discount">
                                        <span class="price-value">{{ prices.discount_price|number_format(2, ',', '.') }} {{ prices.currency_code }} <span
                                                    class="vat-mark">{{ prices.vat_type|trans }}</span></span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>